<h1><%= @project.name%></h1>
<%@entries.each do |entries|%>
	<p><%= entries.hours %> hours and <%= entries.minutes %> minutes /// Date: <%= entries.created_at %></p>
<% end %>

<h6>Powered by ironhack</h6>